@page "/"
@inject NavigationManager Navigation

<NavMenu />

<div class="centered-container">
    <h1>Register to Create Your Own Content for Free</h1>
    <div class="form-container">
        <button @onclick="NavigateToRegister">Register</button>
    </div>
</div>

@code {
    private void NavigateToRegister()
    {
        Navigation.NavigateTo("auth");
    }
}